* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin-right: 20px;
}
nav>ul{   
    list-style-type:none;
}
nav li{
    padding: 0.5%;
    background-color: rgb(83, 83, 87);
    border: solid  rgb(83, 83, 87) 5px;
    border-radius: 7px;
    color: white; 
}
.top{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 1.5%;
background-color: rgb(214, 211,204);
}

.clay_station_logo{
    font-size: 2rem;
    color: rgb(184, 35, 95);
    font-weight: bold;
    font-style: oblique;

}
.searching{
width: 70%;
padding: 2.5%;
border-radius: 7px;
}
.search_button{
padding: 2.5%;
color: white;
background-color: rgb(141,99,116);

}

header{
    /* position: fixed; */
    width: 100%;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    gap: 10px;
    
}
.search,.cart{
    margin: 0;
    padding: 0;
    border: 0;
}



#hero{
    
background-color: rgb(141, 99, 116);
height:20%;
width:100%;
overflow: hidden;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center; 
align-items: center;

}


.slogan, .testimonials{
    text-align: center;
    font-style: italic;
    font-size: 2em; 
}
.slogan1{
    text-align: center;
    font-size: 1.5em;
    color: rgb(83,83,87);
    font-style: italic;
    margin-bottom: 5%;
}


.description{
    font-size: 1.5em;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
footer{
    clear: both;
}
.footer{
    color: white;
    background-color: rgb(53, 53, 55);
    text-align: center;
    margin: 0.2%;
    padding: 2%;
    position: relative;
    clear: both;  
}

nav li a{
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    font-style: italic;
    font-size: 2em; 
    margin-bottom: 2rem;
   
}
.handart img{
    width: 30%;
    display:block;
    margin: auto;
    border-radius: 50%;
} 
.team-photo {
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
    display: block;
    margin: 2rem auto;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.creative-process {
    margin-top: 10%;
}

.process-steps {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
}
#finishing{
    display:block;
    margin:auto;
}
h3{
    margin-bottom: 10px;
}
.step {
    flex-basis: 30%;
    background: #f7f7f7;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
    
}
.step:hover {
    transform: translateY(-0.3125rem); /* 5px */
/* } 
.step h3 {
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 1.5rem; /* 24px */
}
.step p {
    font-size: 1rem; /* 16px */
    color: #555;
}

/* Meet the Team Section */
.meet-the-team {
    margin-top: 2rem;
}

.team-members {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 2%;
    margin-top: 2rem;
}

.member {
    text-align: center;
    flex-basis: 45%;
    background: #f7f7f7;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* .member:hover {
    transform: translateY(-0.3125rem); /* 5px */
/* } */ 

.member h3 {
    color: #333;
    margin-top: 1rem;
    font-size: 1.25rem; /* 20px */
}

.member p {
    font-size: 1rem; /* 16px */
    /* color: #555; */
    margin-top: 1rem;
}

.team-photo {
    border-radius: 50%;
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1em; /* 16px */
    margin-bottom: 1.5rem;
}
main {
    padding: 5% 2%;
    z-index: 2;
}

.art-piece img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid green;
}
